*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: cornflowerblue;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0px 0px 40px #00000034;
}
.form input{
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    width: 200px;
    background-color: #e9e9e9;
    font-family: calibri;
}
.form button{
    background-color: cornflowerblue;
    border: none;
    padding: 10px 20px 10px 20px;
    font-family: calibri;
    border-radius: 20px;
    color: #fff;
}